:root {
  --primary-color: #ef2d56;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #fafafa;
}

html {
  background: url(cssMemSlider/assets/mems/background.jpg);
}

body {
  padding-top: 50px;
  min-height: 1500px;
  backdrop-filter: blur(5px);
  /* width: 100vw; */
}

h1 {
  text-align: center;
  /* margin: 50px 0; */
  font-size: 32px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  padding: 20px;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: -webkit-fill-available;
  aspect-ratio: 3/2;
}

.slider-wrapper input {
  display: none;
}

.slider-container {
  background-color: #ddd;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: url(cssMemSlider/assets/mems/backgtound_small.jpg);
}

.slider-container .slides {
  height: inherit;
  position: absolute;
  width: inherit;
}

.label-container {
  width: 100%;
  height: 50px;
  backdrop-filter: blur(150px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20% 0 10px;
  justify-content: space-between;

}

.labels {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  user-select: none;
}

.label-click {
  min-width: 30px;
  height: 40px;
  /* border: 1px solid red; */
}

.label-container .description-container {
  width: 20%;
  height: min-content;
  align-self: center;
}

.label-container .description-container p {
  transform: scale(0.01);
  font-size: 0;
  transition: all 0.3s;
}

.label-container label {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 13px;
  cursor: pointer;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 4px 4px;
  border: 1px solid #ef2d56;
  -webkit-box-shadow: -0.25px 0.75px 9px -0.25px rgba(85, 85, 85, 0.36);
  -moz-box-shadow: -0.25px 0.75px 9px -0.25px rgba(85, 85, 85, 0.36);
  -box-shadow: -0.25px 0.75px 9px -0.25px rgba(85, 85, 85, 0.36);
}

.label-container label:hover {
  background: rgb(111, 111, 111);
}

#page1:checked~.slider-container .page1,
#page2:checked~.slider-container .page2,
#page3:checked~.slider-container .page3,
#page4:checked~.slider-container .page4,
#page5:checked~.slider-container .page5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: all 0.3s;
}

#page1:checked~.label-container .label1,
#page2:checked~.label-container .label2,
#page3:checked~.label-container .label3,
#page4:checked~.label-container .label4,
#page5:checked~.label-container .label5 {
  width: 20px;
  height: 20px;
  transform: scale(1.1);
  background: var(--primary-color);
}

#page1:checked~.label-container .description-container .description-page1,
#page2:checked~.label-container .description-container .description-page2,
#page3:checked~.label-container .description-container .description-page3,
#page4:checked~.label-container .description-container .description-page4,
#page5:checked~.label-container .description-container .description-page5 {
  transform: scale(1);
  font-size: 18px;
  transition: all 0.3s;
}

.page1 {
  background-image: url(cssMemSlider/assets/mems/1.jpg);
}

.page2 {
  background-image: url(cssMemSlider/assets/mems/3.jpg);
}

.page3 {
  background-image: url(cssMemSlider/assets/mems/4.jpg);
}

.page4 {
  background-image: url(cssMemSlider/assets/mems/5.jpg);
}

.page5 {
  background-image: url(cssMemSlider/assets/mems/7.jpg);
}

.page1, .page2, .page3, .page4, .page5 {
  opacity: 0.1;
  z-index: 1;
  transform: scale(0.01);
  transition: all 0.3s;
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }

  .label-container {
    flex-direction: column-reverse;
    height: 120px;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
  }

  .label-container .description-container {
    width: 50%;
    align-self: start;
    padding: 0 20px;
  }

  .description-container p {
    font-size: 32px;
  }

  #page1:checked~.label-container .description-container .description-page1,
  #page2:checked~.label-container .description-container .description-page2,
  #page3:checked~.label-container .description-container .description-page3,
  #page4:checked~.label-container .description-container .description-page4,
  #page5:checked~.label-container .description-container .description-page5 {
    transform: scale(1);
    font-size: 24px;
    transition: all 0.3s;
  }
}

@media (max-width: 420px) {
  .label-container {
    padding-top: 15px;
    height: 100px;
  }

  .labels {
    width: 100%;
  }

}